{
    "presets": ["@emotion/babel-preset-css-prop"],
    "plugins": [
      "@babel/plugin-proposal-class-properties", 
      "@babel/plugin-syntax-dynamic-import",
      ["prismjs", {
        "languages": [
          "javascript", 
          "css", 
          "html", 
          "php", 
          "jsx", 
          "typescript", 
          "sql", 
          "markup", 
          "scss", 
          "tsx", 
          "bash",
          "json",
          "markdown",
          "graphql",
          "yaml"
        ],
        "plugins": ["line-numbers"],
        "css": false
      }]
    ]
  }